body {
  background-image: url("http://images-cdn.moviepilot.com/images/c_fill,h_2592,w_3888/t_mp_quality/fmnamir53dxhjhsvc3bo/the-top-5-movies-destined-to-flop-in-2016-835409.jpg");
}

h2 {
  color:white;
  font-family: Helvetica;
}

td{
  color:white;
}

th{
 color:white;
}
